<%- include('partials/header') %>
<section class="movie-detail">
    <img src="">
    <div>
        <h1><%=movie.title %> (<%= movie.year %>)</h1>
        <p><%= movie.description %></p>
        <a href="/">← Farðu aftur</a>
    </div>
</section>
<%- include('partials/footer') %>